<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view id="panel"  view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 100%; ">
      <span class="contact_name">{{chat.name}}</span>
      <div ui-sref="tab.activeCall" id="roow" class="row row-top">
          <div class="col ion-ios-telephone mobile">
              <p class="num"> {{chat.Phone}}</p>
          </div>
        </div>
          <div class="icon ion-email mobile">
              <p class="num">{{chat.mail}}</p>
          </div>

          <button id="talk" class="btn button button-round button-balanced talk" ui-sref="tab.activeCall">
              <i class="icon ion-ios-telephone"></i>
          </button>

</ion-content>
</ion-view>
